*.o
*.bin
build/listing.txt
.DS_Store
hardware/_autosave*
hardware/#auto_saved_files#
_autosave*
*-bak
*-backups
hardware/65uino-bottom-pos.csv
hardware/65uino-top-pos-fixed.csv
hardware/65uino-top-pos.csv
rom.hex
test*
